* {
    margin: 0;
    padding: 0;
}
p {
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.75;
}
h4 {
    font-family: Raleway;
    font-size: 1.875em;
    font-weight: 600;
}
h6 {
    font-family: Raleway;
    font-size: 1.25em;
    font-weight: 500;
}
.button {
    border-radius: 3px;
    background-color:  #998675;
    width: 170px;
    height: 53px;
    text-decoration: none;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.643;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.button:hover {
    transform: translateY(-7px);
}
.photo {
    background-image: url(../image/photo-header.png);
    width: 1920px;
    height: 1024px;
    position: absolute;
}
.header {
    width: 100%;
    position: absolute;
    z-index: 999;
}
.header-container {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo {
    width: 25%;
    height: 100%;
    display: flex;
}
.logos {
    width: 64px;
    height: 56px;
    background-image: url(../image/header-icon/logos.svg);
}
.Logo-text {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 2.125em;
    text-align: right;
    margin-top: 10px;
}
.Menu {
    width: 52%;
    height: 100%;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    width: 12.5%;
    display: flex;
}
.menu__link {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 0.875em;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}
.menu__link:hover {
    color:  #c7b29a;
}
.Cart {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 24px;
    background-image: url(../image/header-icon/icon-cart.svg);
}
.Cart:hover {
    margin-bottom: 5px;
}
.Search {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-image: url(../image/header-icon/icon-search.svg);
}
.Search:hover {
    margin-bottom: 5px;
}
.slider {
    width: 1920px;
    height: 1024px;
    position: relative;
}
.Slogan-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.Slogan {
    width: 30.7%;
    position: relative;
    margin: auto;
    text-align: center;
}
.Slogan h2 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 2.25em;
    font-weight: 500;
    text-align: center;
}
.Slogan h1 {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 3.25em;
    font-weight: 700;
    text-align: center;
}
.Slogan p {
    color:  #ffffff;
}

#button-slider{
    position: absolute;
    margin-top: 190px;
}

/* --------------------------  */


.Arrows {
    width: 84.4%;
    top: 48%;
    left: 7.5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}



.prev {
    transition: 0.6s ease;
    width: 40px;
    height: 73px;
    cursor: pointer;
    display: block;
}

.next {
    transition: 0.6s ease;
    width: 40px;
    height: 73px;
    cursor: pointer;
    display: block;
}
.prev:hover, .next:hover {
  background-color: #33312c;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-container {
    position: absolute;
    margin-left: 47%;
    margin-top: 50%;
}

.active, .dot:hover {
  background-color: #717171;
}





/*---------------------------------*/

.content {
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Services {
    width: 60.7%;
    display: flex;
    height: 213px;
    justify-content: space-around;
    align-items: center;
}
.Services-block {
    text-align: center;
}
.Services-block h5 {
    font-family: Raleway;
    color:  #555555;
    font-size: 1.375em;
    font-weight: 600;
    text-align: center;
}
.Services-block p {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.714;
    text-align: center;
    margin-top: 15px;
}
.Services-block {
    fill:  #555555;
    margin-top: 35px;
}
.Services-block a {
    text-decoration: none;
    cursor: default;
}
.Services-line {
    background-color:  #f1eee9;
    width: 70px;
    height: 3px;
    margin-left: 37.5%;
    margin-top: 5%;
}
.Services-block h5:hover {
    color: #c7b299;
}
.Services-block a:hover {
    fill: #c7b299;
}
.Services-line:hover {
    color: #c7b299;
}
.Realization-ideas {
    width: 1920px;
    height: 700px;
}
.Realization-ideas-container {
    position: absolute;
    width: 1920px;
    height: 700px;
    display: flex;
    justify-content: center;

}
.Realization-ideas-text {
    width: 39.4%;
    height: 1.4%;
    position: absolute;
    text-align: center;
    margin-top: 2.5%;
}
.Realization-ideas-text h4 {
    color:  #555555;
}
.Realization-ideas-text p {
    color:  #8c8c8c;
    margin-top: 2.5%;
}
.Text-boxes {
    width: 1920px;
    height: 150px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Text-boxes-text {
    width: 27.6%;
}
.Text-boxes-text h5 {
    font-family: Raleway;
    color:  #c7b299;
    font-size: 1.75em;
    font-weight: 400;
    text-align: left;
}
.Text-boxes-text p {
    font-family: Montserrat;
    color:  #615855;
    font-size: 1.125em;
    font-weight: 300;
    text-align: left;
}
.Project {
    width: 1170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Project a {
    margin-top: 15px;
}
.Project-title {
    width: 757px;
    padding-top: 45px;
}
.Project-title p {
    color:  #8c8c8c;
    padding-top: 15px;
}
.Project-title {
    color:  #555555;
}
.Project-categories {
    width: 605px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.Project-categories p {
    color:  #8c8c8c;
}
.Project-categories a {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    text-decoration: none;
    font-family: Raleway;
    color:  #ffffff;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.643;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    width: 20%;
    margin-left: 7px;
}
.Project-categories a:hover {
    transform: translateY(-7px);
    background-color:  #998675;
}
.Project-categories p:hover {
    color: #ffffff;
}
.Project-container {
    width: 1170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

.project-container-project {
    margin-left: 15px;
    transition: .3s;
}
.project-container-project:hover {
    filter: grayscale(1);
    transform: translate(-3px,-3px);
}
.project-container-project-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-container-project-text h5 {
   font-family: Raleway;
    color:  #c7b29a;
    font-size: 1.25em;
    font-weight: 500;
    text-align: left;
}
.project-container-project-text p {
    font-family: Montserrat;
    color:  #d1d1d1;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.429;
    text-align: left;
}


.Video-presentation {
    width: 1920px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Video-presentation-video {
    width: 100px;
    height: 100px;
    position: absolute;
}
.Video-presentation-txt {
    width: 552px;
    position: absolute;
    text-align: center;
    margin-top: 125px;
}
.Video-presentation-txt h4,
.Video-presentation-txt h5 {
    color:  #ffffff;
    margin-top: 15px;
}
.Video-presentation-txt p {
    color:  #c7b299;
    margin-top: 30px;
}
.Video-presentation-background {
    width: 1920px;
    height: 705px;
    background-image: url(../image/photo-presentation.png);
}
.Excellent {
    width: 1920px;
    height: 695px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../image/Background-excellent.png);
}
.Excellent-txt {
    width: 657px;
    margin-left: 450px;
}
.Excellent-txt h4 {
    text-align: left;
    color:  #555555;
}
.Excellent-txt p {
    color:  #8c8c8c;
    text-align: left;
    margin-top: 40px;
}
.Excellent-features {
    width: 596px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
    margin-top: 50px;
}
.Excellent-features p {
    color:  #8c8c8c;
    text-align: left;
    line-height: 2.5;
}
.Excellent-arrows {
    line-height: 2.4;
}
.counters {
    width: 1920px;
    height: 300px;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.counters-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Recent-Posts {
    width: 1170px;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Recent-Posts-title {
    text-align: center;
    width: 757px;
}
.Recent-Posts-title h4 {
    color:  #555555;
    margin-top: 60px;
}
.Recent-Posts-posts {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.Recent-Posts-posts-container {
 width: 33%;
}
.Recent-Posts-title p {
    color:  #8c8c8c;
    margin-top: 15px;
}
.Posts-date {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 99;
}
.Recent-Posts-posts-photo {
    position: absolute;
}
.Recent-Posts-posts-txt {
    width: 370px;
    height: 395px;
    border-style: solid;
    border-width: 1px;
    border-color:  #f8f8f8;
    box-sizing: border-box;
    background-color:  rgba(119, 119, 119, 0);
    width: 370px;
    height: 395px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.Recent-Posts-posts-txt:hover {
    background-color:  #362f2d;
}
.Recent-Posts-posts-txt:hover h6 {
    color:  #c7b299;
}
.Recent-Posts-posts-txt:hover p {
    color:  #ffffff;
}
.Recent-Posts-posts-txt-container {
    margin-top: 200px;
    width: 297px;
}
.Recent-Posts-posts-txt-container h4 {
    color:  #555555;
    text-align: left;
}
.Recent-Posts-posts-txt-container p {
    color:  #8c8c8c;
    text-align: left;
    margin-top: 15px;
}
.Posts-arrow {
    font-family: Montserrat;
    color:  #c7b299;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.429;
    text-align: left;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 25px;
}
.Posts-arrow img {
    width: 5px;
    height: 8px;
    margin-left: 5px;
}
.Partners {
    width: 1920px;
    height: 489px;
    display: flex;
    justify-content: center;
    background-image: url(../image/Background-Partners.png);
}
.Partners-container {
    width: 70%;
    height: 489px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer {
    width: 1920px;
    height: 111px;
    background-color:  #111111;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer p {
    color:  #545454;
}
.footer a {
    color:  #545454;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.footer a:hover {
    color:  #959595;
}
